<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.academia2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/academia"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Telas.TelaPrincipal02"
            android:label="@string/title_activity_tela_principal02" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Telas.TelaPrincipal"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Telas.TelaExercicio"
            android:label="@string/title_activity_tela_exercicio" >
        </activity>
        <activity
            android:name=".Telas.TelaListaExercicios"
            android:label="@string/title_activity_tela_lista_exercicios" >
        </activity>
        <activity
            android:name=".Telas.TelaPrincipalFicha"
            android:label="@string/title_activity_tela_principal_ficha" >
        </activity>
        <activity
            android:name=".Telas.TelaFichaListExercicios"
            android:label="@string/title_activity_tela_ficha_list_exercicios" >
        </activity>
        <activity
            android:name=".Telas.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
